{% extends 'index.html' %}
{% block title %}
    Fashion Store | Image Search Page
{% endblock %}


{% block body %}
    <div class="container">
        <h3> Uploader Page</h3>
    
        <div>
            <form action="/upload" method="POST" enctype="multipart/form-data">
                <div class="file-field input-field">
                <div class="btn">
                    <span>File</span>
                    <input type="file" name="file">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
                </div>
                <div class="center">
                    <input type="submit" value="Upload" class="btn btn-xl">

                </div>
                 
            </form>
        </div>
    </div>
    
{% endblock %}



