{% extends 'index.html' %}
{% block title %}
    Fashion Store | Search Results
{% endblock %}
{% block body %}

<h3>
    Browse page
</h3>

<div class="row">
    <div class="container">
        <div class="row">
            <div class="input-field col s12">
                <form action="/searchText" method="POST" id="searchform">
                    <i class="material-icons prefix">search</i>
              
                <input type="text" id="autocomplete-input" class="autocomplete" name="query">
                <!--<submit id="search-button" class="btn btn-medium right disabled">Search</submit>-->
                <label for="autocomplete-input">Search</label>
              </form>
              {% if previous_query %}
              <div class="center">
                <h6>
                    Previous Query: {{ previous_query}}
                </h6>
                </div>
              {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    
    {% for product in products %}
    <div style="height: 150px; width: 210px; display: inline-block;">
      <div class="card" style="width: 200px; display: inline-block;">
        <div class="card-image" >
          <img src="{{url_for('static', filename='images/' + product['image_path'])}}" class="img-responsive">
          <span class="card-title">{{product["product_name"]}}</span>
        </div>
        <div class="card-content">
          <p> {{product["product_name"]}}</p>
          {% if product["score_final"] %}
          <p> Similarity score: {{product["score_final"]}}</p>
          {% endif %}
        </div>
        <div class="card-action">
          <a href="/product/{{product['product_id']}}">View Product Page</a>
        </div>
      </div>
    </div>
    {% endfor %}

</div>


<script>
    var myData={
      "Dress": null,
      "Jackets": null,
      "Google": 'https://placehold.it/250x250'
    };
   
    

$(document).ready(function() {
    fetch("/product_names")
            .then(response => {
            return response.json();
            })
            .then(data => {
                myData = data;
                $('input.autocomplete').autocomplete({
                    data: myData ,
                    limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
                    onAutocomplete: function(val) {
                    // Callback function when value is autcompleted.
                        console.log(val)
                        $('#searchform').submit();
                    },
                    minLength: 1, // The minimum length of the input for the autocomplete to start. Default: 1.
                    });
    } );
    
    //get reference to the password element
    var searchbar = document.getElementById("autocomplete-input");
    //bind the onkeypress event to the password field
    searchbar.onkeypress = function(event){
        checkEnterPressed(this,event);
        event.cancelBubble = true;
        if (event.stopPropagation) event.stopPropagation();
    };
    
    function checkEnterPressed(obj, event){
        //console.log(obj, event.keyCode);
        //we are checking for ENTER key here, 
        //you can check for other key Strokes here as well
        if(event.keyCode === 13){
            console.log("Search text was submitted by ENTER key!");
        }
    }
    

    var searchbutton = document.getElementById("search-button");

    var make_elasticsearch_call = function(query){
        req_body = { query: query }
            console.log(req_body)
            const request = new Request('/searchText', {method: 'POST', body: JSON.stringify(req_body)});
            
            fetch(request)
                .then(response => {
                    if (response.status === 200) {
                        //res = response.json()
                       // console.log("Response:")
                        
                    //return res;
                    } else {
                    throw new Error('Something went wrong on api server!');
                    }
                }).then(response => {
                    console.debug(response);
                }).catch(error => {
                    console.error(error);
                });
    }
    
    searchbutton.onclick = function(event){
        query = searchbar.innerText
        make_elasticsearch_call(query)
    }


});
</script>
{% endblock %}