{% extends 'index.html' %}
{% block title %}
    Fashion Store | Image Search Page
{% endblock %}


{% block body %}
    <div class="container">
        <h3> Uploader Page</h3>
    
        <div>
            <form action="/upload" method="POST" enctype="multipart/form-data">
                <div class="file-field input-field">
                <div class="btn">
                    <span>File</span>
                    <input type="file" name="file">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
                </div>
                <div class="center">
                    <input type="submit" value="Upload" class="btn btn-xl" id ="upload-btn">

                </div>
                 
            </form>
        </div>
    </div>
    <div class="center" style="padding-top:3em">
        <div class="preloader-wrapper big inactive" style="visibility: hidden;">
            <div class="spinner-layer spinner-blue-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
    </div>
    <script>
        $(document).ready(function() {
            uploadbtn = document.getElementById("upload-btn")
            uploadbtn.onclick = function(){
                spinner = document.getElementsByClassName("preloader-wrapper")
                $(spinner).removeClass("inactive").addClass("active").css("visibility","visible")
            }
        });
    
    </script>
{% endblock %}



