{% extends 'index.html' %}
{% block title %}
    Fashion Store | Register Page
{% endblock %}


{% block body %}
<body class='text-center'>
    <div class="container ">
        <form method="POST" class="form-register">
            {{ form.hidden_tag() }}
            <div class="center padding-top">
                <img class="responsive-img circle" src="{{url_for('static',filename='images/FashionStoreLogo2.png')}}" style="height:25em;margin:-1em; padding-top:1em" alt="">
            </div>
            <h3 class="h3 m3 font-weight-normal">
                Please Create your Account
            </h3>
            <br>
            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder='User Name') }}

            {{ form.email_address.label() }}
            {{ form.email_address(class="form-control", placeholder='Email Address') }}

            {{ form.password1.label() }}
            {{ form.password1(class="form-control", placeholder='Password') }}

            {{ form.password2.label() }}
            {{ form.password2(class="form-control", placeholder='Confirm Password') }}

           
            <br>
            <br>
            {{ form.submit(class='btn btn-lg btn-block btn-primary center') }}
        </form>
        <br>
        <br>
        <div class='checkbox center m3'>
            <h6>Already have an account?</h6>
            <a class='btn btn-medium btn-secondary' href="{{ url_for('login_page') }}">Login</a>
        </div>



    </div>
</body>
{% endblock %}
